<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Songs')}"></head>
<body>
    <nav th:replace="~{fragments/layout :: navbar}"></nav>

    <div class="container">
        <h2 class="mb-4"> Best Songs of the Year</h2>
        <div class="list-group">
            <a th:each="song : ${songs}"
               th:href="@{/songs/{id}(id=${song.id})}"
               th:text="${song.title}"
               class="list-group-item list-group-item-action">
            </a>
        </div>
    </div>

    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>